@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('./font/JosefinSans-Regular.ttf');
}

body{
    background: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #c2126aef 100%);
    font-family: 'JosefinSans-Regular';
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div h1{
    font-size: 6em;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(#000000 , #c2126a);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    
}

div h1:hover{
    background-image: linear-gradient(to right, #c2126a  0%, #000000 51%,  #c2126a 100%)
}

button{
    margin: 55px 3px;
    padding: 6px 13px;
}

.stopwatch{
    background-color: #000000f3;
    color: white;
    font-size: 120px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    width: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 8px 10px rgba(0, 0, 0, 0.589);    
}

.stopwatch:hover{
    color: rgba(216, 248, 203, 0.87);
}

button {
    color: black;
    border-radius: 3px;
    box-shadow: 2px 3px 8px 10px rgba(0, 0, 0, 0.205);
    font-size: 20px;
    background: linear-gradient(to right, #3D7EAA 0%, #fdc9f9 51%, #3D7EAA 100%)
}

button:hover{
    color: rgba(216, 248, 203, 0.87);
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #c2126afa  0%, #000000fa 51%,  #c2126af8 100%);
}

ul{
    margin: 0;
    padding: 0;
}

ul li{ 
    text-decoration: underline;
    font-family: 'JosefinSans-Regular';
    letter-spacing: 2px;
    list-style: decimal-leading-zero;
    padding: 10px 0px;
}

ul li:hover{
    font-size: 30px;
    background: -webkit-linear-gradient(#FFF720 , #3CD500);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

